html, body {
  font-family: Arial, sans-serif, Monospace;
  padding: 0; margin: 0;
  background-color: #white;
}

#header {
    left:0;
    top:0;
    width: 100%;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-bottom: 40px
}

h1 {
  text-align: center;
  margin-top:0px;
  color: #2b78e4;
  font-family: sans-serif;
}

#content {
  margin-left: 15%;
  min-height: 400px;
}

textarea {
    width: 50%;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 12px;
    resize: none;
}

#header{
  text-align: center;
}

#header h1{
  font-weight: bold;
}

#primary-nav{
    width: 100%;
}

#primary-nav li {
  display: inline;
}

#primary-nav li a:hover {
  background-color: orange;
}

.btn{
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  font-size: 12px;
}

#primary-nav li a {
  padding: 0.5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

#logout{
    display: inline;
}

#selected-nav:link,
#selected-nav:visited {
  background-color: cyan
}

label {
  display: block;
}


#report-view {
  margin: 5%;
  margin-left: 20%;
  width: 30%;
  display: inline-block;
  text-align: center;
  float: left;
  /*border: solid;*/
}

#report-form {
  margin: 20px
}

#map-view {
  margin: 5%;
  width: 30%;
  /*margin-left: 230px;*/
  display: inline-block;
  text-align: center;
  /*float: right;*/
  /*border: solid;*/
}

.main {
  margin-top: 40px;
  margin-left: -250px;
  margin-bottom: 30px;
}

div#main{
    width: 70%;
    float: left;
    /*border: solid red;*/
}

div#follow-view{
    width: 28%;
    margin-right: 1%;
    float: right;
    /*border: solid 1px;*/
}

div#activity-view{
    width: 100%;
    clear: both;
}

div#follow-users div{
    margin: 2%;
}

div.profile{
    margin-right: 2%;
    width: 48%;
    float: left;
}

div#activity-feed{
    width: 40%;
    margin-right: 8%;
    float: right;
}

.username-labels{
  display: inline;
  background-color: lightgreen;
}
.activity-feed{
  overflow-y: auto;
  height: 170px;
}

.main-image {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.issue_block {
  margin-left: 150px;
  margin-bottom: 30px
}

.issue-image {
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
    vertical-align: text-top;
}

.issue {
  margin-left: 20px;
}

.text_wrap {
    width: 70%;
}

#account{
  float: left;
  margin-left: 60px;
  margin-top: 50px
}

#your_img {
  float: right;
  margin-right: 100px;
}

.your_image {
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 120px;
    vertical-align: text-top;
}

.map-image {
    vertical-align: text-top;
}

#sort {
    clear: both;
    margin-left: 20px;
    padding: 0;
  }

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.container div {
  background-color: white;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}

#logindes {
  text-align: center;
  margin-left: -200px
}

#form-email {
  float: left;
}

#form-pid {
  float: right;
  margin-right: 200px
}

.submit {
  float: right;
  background-color: orange;
  border: none;
  font-size: 14px;
  margin-top: 4px
}

.on_searching {
  width: 250px;
}

#footer {
  clear: both;
  text-align:center;
  margin: 0;
  padding: 0;
}

#footer li {
  display: inline;
  border: 2px solid #ccc;
  margin: 0 5px; padding: 0;
}

#footer li a {
  text-decoration: none;
  color: #555;
  padding: 0px 16px;
}

#footer li a:hover {
  background-color: orange;
}

/*.linkbutton{
    display: inline;
    float: left;
    text-align: center;
    text-decoration: none;
    margin: 1px;
    padding: 2px 15px;
    font-size: 10px;
    font-family: Geneva;
    color: black;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    box-shadow: 0.2px 0.2px grey;
    width: auto;
}*/

span.note{
    padding-left: 5px;
    font-size: 12px;
}

td textarea{
    width: 100%;
}

#map{
      width: 200px;
      height: 200px;
      padding: 5%;
      border: 2px;
       /*background-color: grey;*/
}

.report-btn{
  float: right;
  margin-right: 20%;
}

.report-btn label{
  clear: left;
background-color: red;
}
